<%- include("../partials/header")%> <%- include("../partials/navbar")%>
<div class="container-fluid d-flex flex-lg-row flex-column align-items-center">
  <div class="container-lg border m-4 p-4 mx-auto">
    <h3>Edit Blog</h3>
    <label class="form-label">Created on : <%=blog.createdOn.toDateString()%></label>
    <hr />
    <form action="/blogs/<%=blog._id%>?_method=PATCH" method="POST" class="row needs-validation" novalidate>
      <div class="row-md-4">
        <label for="validationCustom01" class="form-label">Blog Name</label>
        <input
          type="text"
          class="form-control"
          id="validationCustom01"
          name="blog[blogName]"
          value="<%=blog.blogName%>"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="row-md-4">
        <label for="validationCustom02" class="form-label">Author</label>
        <input
          type="text"
          class="form-control"
          id="validationCustom02"
          name="blog[author]"
          value="<%=blog.author%>"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="row-md-4">
        <label for="validationCustomUsername" class="form-label">Content</label>
        <div class="input-group has-validation">
          <textarea
            cols="10"
            rows="10"
            type="text"
            class="form-control"
            id="validationCustomUsername"
            name="blog[content]"
            required
          ><%=blog.content%></textarea>
          <div class="valid-feedback">Looks good!</div>
        </div>
      </div>
      <input type="text" hidden name="blog[createdOn]" value="<%=blog.createdOn%>">
      <div class="col-12 mt-4 mb-6">
        <button class="btn btn-primary" type="submit">Edit Blog</button>
      </div>
    </form>
  </div>
  <div class="container-lg overflow-auto border m-4 p-4 align-self-lg-start ">
    <h3 class="text-center">All Comments</h3>
      <hr>
      <%if(blog.comments.length === 0){%>
        <h3 class="text-center">No Comments Yet</h3>
      <%}else{%>
      <div>
        <%for(comment of blog.comments){%>
          <div class="d-flex flex-row card mt-2" style="width: 100%;">
            <div class="card-body">
              <h5 class="card-title"><%=comment.comment%></h5>
              <h6 class="card-subtitle mb-2 text-muted">By: <%=comment.username%></h6>
            </div>
            <form action="/comment/<%=comment._id%>?_method=DELETE" method="POST" class="m-4">
              <input type="text" hidden name="blogId" value="<%=blog._id%>">
              <button type="submit" class="btn btn-danger m-2" >Delete</button>
            </form>
          </div>
        <%}}%>
      </div>
  </div>
</div>

<%- include("../partials/footer")%>
